<%- include("partials/header") %>

<div class="container">
    <h1>Add new Comment</h1>
    <form action="/movies/<%= filmId %>/comments" method="POST">
        <div class="form-group">
            <label for="user">Username:</label>
            <input type="text" name="user" id="user" class="form-control" placeholder="Username" required autofocus>
        </div>
        <div class="form-group">
            <label for="text">Comment text</label>
            <textarea class="form-control" name="text" id="text" cols="70" rows="8" placeholder="comment text here" required></textarea>
        </div>
        <input type="hidden" name="filmId" value="<%= filmId %>">
        <button type="submit" class="btn btn-primary mt-3">Submit comment</button>
    </form>
</div>

<%- include("partials/footer") %>