<%- include("partials/header") %>
    <div id="error-container">    
        <h3 id="error">
            404 ERROR!
            <br>
            Please enter the right page
        </h3>
    </div>
<%- include("partials/footer") %>