<%- include("partials/header") %>
    <h1>
        Welcome to the PrimeFlix! <br>
        This is the landing page.
    </h1>
    <form action="/movies">
        <button>See Movie List</button>
    </form>
    <br>
    <br>
    <form action="/movies/new">
        <button>Add a New Movie</button>
    </form>
<%- include("partials/footer") %>
