<%- include("partials/header") %>
    <h1>Movies goes here</h1>
    <p>the idea is to have an icon-type list of movies that shows the rating and description of the movies</p>
<%- include("partials/footer") %>