<%- include("partials/header") %>
    <h1>Have you watched any good new movies:</h1>

    <form action="/movies" method="POST">
        <label for="name">Name: </label>
        <input name="name" type="text">

        <label for="description">Description: </label>
        <input name= "description" type="text">
        
        <label for="casts">Casts: </label>
        <input name= "casts" type="text">

        <label for="artwork">Artwork Link: </label>
        <input name= "artwork" type="text">

        <br>
        <br>

        <button type="submit">Submit</button>
    </form>

<%- include("partials/footer") %>