<%- include("partials/header") %>
    <h1>Have you watched any good new movies:</h1>

    <form action="">
        <label for="newmovie-name">Name: </label>
        <input id= "newmovie-name" type="text">

        <label for="newmovie-description">Description: </label>
        <input id= "newmovie-description" type="text">
        
        <label for="newmovie-image">Artwork Link: </label>
        <input id= "newmovie-image" type="text">
    </form>

<%- include("partials/header") %>