<%- include("partials/header") %>
    
    <div class="container bg-img">
        <div class="col-sm-4 offset-4">
            <div class="row justify-content-center align-items-center pt-5">*** Welcome to FoodLix ***</div>
            <div class="row justify-content-center align-items-center">TM @ S. Shams</div>
            <div class="row-sm-2 offset-5 pt-3">
                <button type="button" class="btn btn-primary btn-sm">Let's Eat</button>
            </div>
        </div>
    </div>
    

<%- include("partials/footer") %>


