body {
    margin: 0;
    background-color: tan;
}

.submit-btn {
    width: 10%;
    border-radius: 5px;
    margin: 10% 45%;
    cursor: pointer;
}
.submit-btn:hover {
    background-color: red;
}

.newmovie-form {
    text-align: center;   
}

.login-form {
    margin-left: 10%;
    margin-top: 15%;
}

.landing-page {
    text-align: center;
    margin-top: 10%;
    box-shadow: 10px 10px 8px white;
}
.page-title {
    margin: auto;
}
#error-container {
    margin: auto;
    justify-content: center;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;

}

#error {
    color: red;
    font-size: 1.4rem;
}

.page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
}

#film-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: 1px solid #000;
    padding: 1.2rem;
}

#film-card {
    border: 1px solid blue;
    border-radius: 1rem;
    width: 20%;
    margin: 1rem 1.5%;
    padding: 0;
}

#film-image {
    
    width: 100%;
    height: 20rem;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 1rem 1rem 0 0;
    
}

#film-name {
    text-align: center;
    margin: 0.3rem;
    font-weight: 600;
    font-size: 1.3rem;
}
#film-description {
    text-align: center;
    font-size: 0.5rem;
}

#film-cast {
    text-align: center;
}
#header {
    display: inline-block;
}

