<div class="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/movies">Movies</a></li>
        <li><a href="/movies/new">Add</a></li>
        <li><a href="#">Login</a></li>
    </ul>
</div>