<html>
	<head>
		<title>YelpClone Comics</title>
		<link href="/css/style.css" rel="stylesheet">
		<link href="css/navbar.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Red+Rose&family=Roboto&display=swap" rel="stylesheet"> 
	</head>
	<body>
		<%- include("../partials/navbar") %>