<%- include("partials/header") %>    
    <div class="login-page">
        <form action="/landing" class="login-form">
            <label for="username">Username:</label>
            <input type="text" value="Username" name="username">

            <br>
            <br>

            <label for="password">Password:</label>
            <input type="text" value="Password" name="password">

            <br>
            <br>

            <button type="submit" class="loginsubmit-btn">Login</button>
        </form>
    </div>
<%- include("partials/footer") %>