body {
    background-color: tan;
}

#error-container {
    width: 25%;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 5%;
}

#error {
    margin-left: 10%;
    color: red;
    font-size: 1.4rem;
    
    
}