body {
    background-color: tan;
}

#error-container {
    width: 25%;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 5%;
}

#error {
    margin-left: 10%;
    color: red;
    font-size: 1.4rem;
}

.page-header {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#film-card {
    border: 1px solid blue;
    border-radius: 10px;
    width: 20%;
    height: 70%;
    text-align: center;
    margin: 2%;
    display: inline-block;
}

#film-image {
    margin: 5%;
    width: 90%;
    height: 80%;
    border-radius: 10px;
    
}

#film-description {
    font-size: 0.5rem;
}

#header {
    display: inline-block;
}
