<%- include("partials/header") %>
	<form action="/comics" method="POST" class="mx-3">
		<div class="mb-3">
			<label for="title" class="form-label">Title:</label>
			<input type="text" name= "title" class="form-control">
		</div>
		<div class="mb-3">
			<label for="description" class="form-label">Description:</label>
			<input type="text" name= "description" class="form-control">
		</div>
		<div class="mb-3">
			<label for="image" class="form-label">Image Link:</label>
			<input type="text" name= "image" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

<%- include("partials/footer") %>